.sort-container
{
    display: inline-block;
    align-content: center;
}

.sorting-option
{
    text-decoration: underline;
    margin: 2px 4px;
}

.sorting-option:hover
{
    cursor: pointer;
}

.completed
{
    margin-left: 0;
    margin-top: 5px;
}
/*.sorting-option:after {*/
    /*content: '↑';*/
/*}*/
