.sort-container
{
    display: inline-block;
    align-content: center;
    width: fit-content;
    justify-self: end;
}

.sorting-option
{
    text-decoration: underline;
    margin: 2px 4px;
}

.sorting-option:hover
{
    cursor: pointer;
}

.completed,
.reset
{
    margin-left: 0;
    margin-top: 5px;
}

